/* regole generali di pagina */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url("../img/sfondo.png");
  font-family: 'Montserrat', sans-serif;
}

/* fine regole generali di pagina */

.wrapper{
  width: 1200px;
  margin: 24px auto;
}

/* sezione di testata */
header{
  width: 100%;
  background-color: white;
  padding: 12px;
  color: white;

  text-align: center;
}
header a{
    text-decoration: none;
    color: white;
}
.site_banner{
  background-image: url("../img/banner.jpg");
  padding: 48px;}

/* fine sezione di testata */
nav{
  width: 100%;
  background-color: #504741;
}
#site_banner h1 a{

}
nav ul{
  text-align: center;
  margin: 0;
}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(0, 0, 0, .4);
  padding: 12px;
  line-height: 48px;
}
nav ul li a:hover{
background: rgba(0, 0, 0, .4);
    color: #ffffff;
}
.widget{
  background: #ffffff;
  margin-bottom: 24px;
  padding: 24px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, .24);
  border-radius: 2px;
  }
main:after {
 content: "";
 display: table;
 clear: both;
}

aside{
  width: 26%;
  margin: 2% 0;
}
aside div{
  margin-bottom: 2%;
}
.aside_left{
  float: left;
  margin-left: 2%;
}
section{
  width: 40%;
  margin: 2%;
  float: left;
}
article{
  margin-bottom: 2%;
}
.aside_right{
  float: right;
  margin-right: 2%;
}
footer{
  content: "";
  display: table;
  clear: both;
  margin: 2% 0;
}
.footer_box{
  float: left;
  margin: 2% 0;
}
#recent_posts{
  width: 20%;
  margin-left: 2%;
}
#recent_comments{
  width: 20%;
  margin-left: 2%;
}
#categories{
  width: 20%;
  margin-left: 2%;
}
ul{
  list-style-type: none;
}
#text_widget{
  width: 30%;
  margin-left: 2%;
  margin-right: 2%;
}
.footer_top{
  content: "";
  display: table;
  clear: both;
}
.copyright{
  content: "";
  display: table;
  clear: both;
  width: 100%;
}
/* COLOR CLASSES */
.black{
  background-color: black;
}
.blue{
  background-color: blue;
}
.red{
  background-color: red;
}
.purple{
  background-color: purple;
}
.green{
  background-color: green;
}
.black{
  background-color: black;
}
.pink{
  background-color: pink;
}
.darkmagenta{
  background-color: darkmagenta;
}
.hotpink{
  background-color: hotpink;
}
